<!-- Add a button to initiate checkout -->
<%# <button id="checkout-button">Pay $4500</button> %>
<%= button_to 'Pay $4500', stripe_checkout_path, method: :post, id: 'checkout-button', class: 'btn btn-primary', remote: true %>

<!-- Include Stripe.js -->
<script src="https://js.stripe.com/v3/"></script>

<script>
  var stripe = Stripe('[PUBLIC_KEY]'***REMOVED***; // Replace with your Stripe public key
  const csrfToken = document.querySelector('meta[name="csrf-token"]'***REMOVED***.getAttribute('content'***REMOVED***;
  let checkoutButton = document.getElementById('checkout-button'***REMOVED***;
  checkoutButton.addEventListener('click', function (***REMOVED*** {
    fetch('/stripe_checkout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken // Include the CSRF token in the request header
      ***REMOVED***,
      credentials: 'same-origin' // Ensure cookies (including CSRF token***REMOVED*** are sent with the request
    ***REMOVED******REMOVED***
    .then(function (response***REMOVED*** {
      return response.json(***REMOVED***;
    ***REMOVED******REMOVED***
    .then(function (session***REMOVED*** {
      return stripe.redirectToCheckout({ sessionId: session.id ***REMOVED******REMOVED***;
    ***REMOVED******REMOVED***
    .catch(function (error***REMOVED*** {
      console.error('Error:', error***REMOVED***;
    ***REMOVED******REMOVED***;
  ***REMOVED******REMOVED***;
</script>
