<h1>StripePayment#initialize_payment</h1>
<p>Find me in app/views/stripe_payment/initialize_payment.html.erb</p>


<!-- app/views/stripe_payments/initialize_payment.html.erb -->
<h1>Initialize Payment</h1>
<button id="payment-button">Pay with Stripe</button>

<script>
    // Create an instance of Stripe
    const stripe = Stripe('<%= Rails.application.credentials.stripe[:publishable_key] %>'***REMOVED***;

    const paymentButton = document.getElementById('payment-button'***REMOVED***;
    paymentButton.addEventListener('click', function(***REMOVED*** {
        fetch('/stripe_payment/initialize_payment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]'***REMOVED***.content
            ***REMOVED***,
        ***REMOVED******REMOVED***
            .then(function(response***REMOVED*** {
                return response.json(***REMOVED***;
            ***REMOVED******REMOVED***
            .then(function(session***REMOVED*** {
                return stripe.redirectToCheckout({ sessionId: session.session_id ***REMOVED******REMOVED***;
            ***REMOVED******REMOVED***
            .catch(function(error***REMOVED*** {
                console.error('Error:', error***REMOVED***;
            ***REMOVED******REMOVED***;
    ***REMOVED******REMOVED***;
</script>
