<table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
  <thead>
    <tr>
      <th scope="col">Pairs</th>
      <th scope="col">Left</th>
      <th scope="col">Right</th>
      <th scope="col">Ear Adv</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="left-column"><span id="column1-percent">0</span>%</p></td>
      <td class="right-column"><span id="column2-percent">0</span>%</td>
      <td class="ear-advantage"><span id="advantage-Diff">0</span>%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
    </tr>
    <tr>
      <th scope="row">3</th>           
    </tr>
  </tbody>
</table>