<!-- app/views/billing_dashboard/index.html.erb -->

<% if @current_month_tests.present? %>
  <h2>Current Month's Tests</h2>
  <%= render 'tests_table', tests: @current_month_tests %>
  <h3>Total Cost for This Month: <%= @total_cost %></h3>

<% end %>

<% if @previous_tests.present? %>
  <h2>Previous Month's Tests</h2>
  <%= render 'tests_table', tests: @previous_tests %>
<% end %>

<!-- Stripe payment setup section -->
<div>
  <h2>Payment Method</h2>
  <button id="setup-button">Set up payment method</button>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripePublicKey = [TEST_PUBLIC_KEY];
  var stripe = Stripe(stripePublicKey***REMOVED***;
  
  document.addEventListener('DOMContentLoaded', (event***REMOVED*** => {
    var setupButton = document.getElementById('setup-button'***REMOVED***;
    if (setupButton***REMOVED*** {
      setupButton.addEventListener('click', function (***REMOVED*** {
    fetch('/stripe_payment/initialize_payment_setup', {
      method: 'POST',
      headers: {
    'X-CSRF-Token': document.querySelector("[name='csrf-token']"***REMOVED***.content,
    'Content-Type': 'application/json'
  ***REMOVED***,
  credentials: 'same-origin'

    ***REMOVED******REMOVED***
    .then(function (response***REMOVED*** {
      return response.json(***REMOVED***;
    ***REMOVED******REMOVED***
    .then(function (data***REMOVED*** {
      // 'data' is the result of response.json(***REMOVED***. It should contain the session_id.
      if (data && data.session_id***REMOVED*** {
        return stripe.redirectToCheckout({ sessionId: data.session_id ***REMOVED******REMOVED***;
      ***REMOVED*** else {
        // Throw an error if session_id is not found
        throw new Error('Session ID not found'***REMOVED***;
      ***REMOVED***
    ***REMOVED******REMOVED***

    .catch(function (error***REMOVED*** {
      console.error('Error:', error***REMOVED***;
    ***REMOVED******REMOVED***;
 ***REMOVED******REMOVED***;
  ***REMOVED***
***REMOVED******REMOVED***;
</script>