<div class="container mt-5 text-center">
  <h2 class="mb-3">Time for a Short Break</h2>

  <p class="lead">Please take a moment to rest before continuing with the next test.</p>
  <p class="h4 mt-4"><span id="countdown-text">You can continue in </span><span id="countdown">30</span><span id= "countdown-unit"> seconds...</span></p>

  <div class="mt-4">
    <%= link_to "Next", week_two_test_five_client_week_twos_path(@client), class: "btn-1 btn-anim2" %>
  </div>
</div>
<!-- CHANGE TO 20 MINUTES IN FINAL VERSION -->
<script>
  let countdown = 30;
  const countdownSpan = document.getElementById("countdown");
  const countdownText = document.getElementById("countdown-text");
  const countdownUnit = document.getElementById("countdown-unit");

  const interval = setInterval(() => {
    countdown--;
    countdownSpan.textContent = countdown;

    if (countdown <= 0) {
      clearInterval(interval);
      countdownText.textContent = "You can proceed"; // Change the whole text
      countdownSpan.textContent = ""; // Clear the countdown number
      countdownUnit.textContent = ""; // Clear the countdown unit
    }
  }, 1000);
</script>
