
.training-process {
    font-family: Arial !important;
}

.training-process .infobar {
    display: flex;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
}

.training-process .infobar h2 {
    margin: 0;
}

.training-process .infobar .left,
.training-process .infobar .center,
.training-process .infobar .right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    border: 2px solid black;
}

.training-process .infobar .left {
    width: 10%;
    border-left: none;
}

.training-process .infobar .center {
    width: 23%;
    border-right: none;
    border-left: none;
}

.training-process .infobar .right {
    width: 67%;
    border-right: none;
}

.training-process .chevrons {
    width: 50px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    transition: transform 0.3s ease;
    transform-origin: center;
    border: 2px solid black;
    border-radius: 20px;
}

.training-process .chevrons:hover {
    transform: scale(1.1);
}

.training-process .no-style {
    all: unset;
    background: none;
    padding-left: 5px;
    padding-right: 5px;
}

.training-process .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.training-process .content .summary {
    width: 90%;
    margin: 0 auto;
}

.training-process .pos-button {
    display: flex; 
    justify-content: center; 
    max-width: 200px;
    padding-top: 20px; 
    margin: 0 auto;
}

.training-process .container-training {
    padding-top:25px; 
    height: 80vh; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    position: relative;
}