
.training-process {
    font-family: Arial !important;
}

.training-process .infobar {
    display: flex;
}

.training-process .infobar h2 {
    margin: 0;
}

.training-process .infobar .left {
    width: 33%;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    border: 2px black solid;
    border-right: none;
    border-left: none;
}

.training-process .infobar .right {
    display: flex;
    width: 67%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    border-right: none;
}

.training-process .chevrons {
    width: 50px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.training-process .no-style {
    all: unset;
    background: none;
    
}

.training-process .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.training-process .content .summary {
    width: 90%;
    margin: 0 auto;
}