<div class="form-group row">
  <label for="conditionSelect">Condition</label>
  <select class="form-control" id="conditionSelect">
    <option>FreeRecall</option>
    <option>DirectedLeft</option>
    <option>DirectedRight</option>
  </select>
</div>