

#navbar {
    padding: 5px;
    border-bottom: 5px solid #e0202c;
    background: rgb(3,187,210***REMOVED***;
    background: linear-gradient(180deg, rgba(3,187,210,1***REMOVED*** 0%, rgba(46,131,204,1***REMOVED*** 100%***REMOVED***;
    margin-top: 0;
    margin-bottom: -20;
    position: fixed;
    width: 100%;
***REMOVED***