<p>Percentile of Scores:</p>
<table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
  <thead>
    <tr>
      <th scope="col">Left Ear</th>
      <th scope="col">Right Ear</th>
      <th scope="col">Ear Advantage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="percentile"><span id="left-percentile"></span></td>
      <td class="percentile"><span id="right-percentile"></span></td>
      <td class="percentile"><span id="advantage-percentile"></span></td>
    </tr>
  </tbody>
</table>