<h3> END USER LICENSE ÀGREEMENT <br> (Agreement) <br> <br> </h3>

<p>
        
This copy of Audia Dichotics and accompanying documentation is licensed and not sold.  Audia Dichotics is protected by copyright, patent and intellectual property laws and treaties.  Dichotics, Inc. owns intellectual property rights in Audia Dichotics.  Licensee’s license to download, use, copy or change Audia Dichotics is subject to these rights and to all terms of this End User License Agreement (Agreement). 
<br> <br>
ACCEPTANCE OF AGREEMENT <br> <br>

Licensee accepts and agrees to be bound by the terms of this agreement.  By selecting the “ACCEPT” option and downloading Audia Dichotics or by installing, using or copying Audia Dichotics, Licensee agrees to all of the terms of this Agreement.  If Licensee does not agree to all of the terms of this Agreement, Licensee must select “DECLINE” and must not install, use or copy Audia Dichotics.
<br> <br>
GRANT OF LICENSE <br> <br>

This Agreement entitles Licensee to install and use one copy of Audia Dichotics.  In addition, Licensee may make one archival copy of Audia Dichotics. <br>

This archival copy must be on a storage medium other than a hard drive, and may only be used for the installation of Audia Dichotics.  This Agreement does not permit the installation or use of multiple copies of Audia Dichotics, or the installation of Audia Dichotics on more than one computer at any time on a system that allows shared use of applications, on a multi-user network, or on any configuration or system of computers that allows multiple users.  Multiple copy usage or installation requires a separate license agreement for each user and each copy of Audia Dichotics. 
<br> <br>
RESTRICTIONS ON TRANSFER <br> <br>

Without first obtaining written consent of Dichotics, Inc., Licensee may not assign any rights or obligations under this Agreement, or redistribute, sell, rent, lease, sublicense or otherwise transfer rights in Audia Dichotics.
<br> <br>
RESTRICTIONS ON USE <br> <br>

Licensee may not use, copy or install Audia Dichotics on any system with more than one computer, or permit the use, copying, or installation of Audia Dichotics by more than one user or on more than one computer.  
<br> <br>
If Licensee holds multiple licensed copies, Licensee may not use, copy or install Audia Dichotics on any system with more than the number of computers permitted by license, or permit the use, copying, or installation by more than the number of computers permitted by license, or permit the use, copying or installation by more users, or on more computers than the number permitted by license.
<br> <br>
Licensee may not reverse engineer, disassemble, or otherwise determine the source code for Audia Dichotics.
<br> <br>
RESTRICTIONS ON ALTERATION <br> <br>

Licensee may not modify Audia Dichotics or create any derivative work of Audia Dichotics or its accompanying documentation.  Derivative works include, but are not limited to, translations.  Licensee may not alter any files or libraries in Audia Dichotics.  Licensee may not reproduce database portions or create any tables or reports relating to the database portion.
<br> <br>
RESTRICTIONS ON COPYING <br> <br>

Licensee may not copy any part of Audia Dichotics except to the extent that licensed use inherently demands the creation of a temporary copy stored in computer memory and not permanently affixed on storage medium.  Licensee may make one archival copy, which must be stored on a medium other than a computer hard drive
<br> <br>
LIMITED SOFTWARE WARRANTY <br> <br>

Dichotics, Inc. warrants that when properly installed and used under normal conditions, Audia Dichotics will perform substantially as advertised and represented.
<br> <br>
DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY <br> <br>

Unless otherwise explicitly agreed to in writing, Dichotics, Inc. makes no warranties, express or implied, in fact or in law, including but not limited to, implied warranties of merchantability or fitness for a particular purpose.
<br> <br>
Dichotics, Inc. makes no warranty that Audia Dichotics will meet Licensee’s requirements or operate under Licensee’s specific conditions of use.  Dichotics, Inc. makes no warranty that operation of Audia Dichotics will be secure, error free, or free from interruption.  Licensee must determine whether Audia Dichotics meets Licensee’s requirements for security and uninterruptability.  Licensee bears sole responsibility and all liability for any loss incurred due to failure of Audia Dichotics to meet Licensee’s requirements.   Dichotics, Inc. will not under any circumstances be responsible or liable for anyloss of data on any computer or information storage device.
<br> <br>
Under no circumstances shall Dichotics, Inc., its directors, officers, employees or agents be liable to Licensee or any directors, officers employees or agents of Licensee, or any other person, for indirect, consequential, general, special, punitive or exemplary damages of any kind, including lost revenues or profits or loss of business or reputation resulting from this Agreement or from the furnishing, performance, installation and/or use of Audia Dichotics, whether due to breach of contract, breach of warranty, or negligence of Dichotics, Inc. or any other person.  To the extent that applicable law limits Dichotics, Inc.’s ability to disclaim express or implied warranties, this disclaimer shall be effective to the maximum extent permitted by applicable law.
<br> <br>
Dichotics, Inc. makes no representations or promises regarding the suitability or performance of Audia Dichotics, and any oral representations or promises to the contrary are hereby disclaimed.
<br> <br>
Dichotics, Inc. makes no representation of any kind that Audia Dichotics will meet Licensee’s requirements, achieve any intended results, be compatible or work with any other software, applications, systems or services, operate without interruption, meet any performance or reliability standards or be error free, or that any errors or defects can or will be corrected.
<br> <br>
Audia Dichotics is provided "as is" and with all faults and defects without warranty of any kind. 
<br> <br>
Licensee assumes the risk of any damage Audia Dichotics might cause to Licensee’s devices or data.
<br> <br>
LIMITATION OF REMEDIES AND DAMAGES <br> <br>

Licensee’s remedy for breach of this Agreement or any warranty is limited to replacement of Audia Dichotics or refund of the amount paid to Dichotics, Inc. by Licensee, at Dichotics, Inc.’s option.  Dichotics, Inc. reserves the right to substitute a functionally equivalent copy of Audia Dichotics or correction to Audia Dichotics.  If Dichotics, Inc. is unable to do so, Licensee’s sole remedy is refund of the amount paid to Dichotics, Inc. by Licensee.
<br> <br>
INDEMNIFICATION <br> <br>

Licensee agrees to indemnify and hold Dichotics, Inc. and its officers, employees, and agents harmless from any claim or demand, including reasonable attorneys' fees, due to or arising out of Licensee’s:  use of Audia Dichotics; Licensee’s violation of this Agreement; or Licensee’s violation of any right of a third party.
<br> <br>

Licensee agrees to defend, indemnify and hold Dichotics, Inc. harmless from all claims, judgments, liabilities, expenses and legal and other costs of defense, arising from Licensee’s use of Audia Dichotics.
<br> <br>
Licensee Agrees to defend, indemnify and hold Dichotics, Inc., its officers, directors, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys’ fees and costs) arising out of or in connection with a claim arising from or related to Licensee’s use of Audia Dichotics, or any data or content received by Licensee, or any violation of third party rights, including privacy rights.
<br> <br>
Licensee agrees to indemnify, defend, and hold Dichotics, Inc. harmless against any claims by clients or patients arising out of Licensee’s use of Audia Dichotics.
<br> <br>
HIPAA <br> <br>

Licensee understands and agrees that medical information (not individually identifiable) will be made available to Dichotics, Inc..  Licensee agrees that Dichotics, Inc. may use Audia Dichotics to collect information relating to clients and patients (not individually identifiable).
<br> <br>
GOVERNING LAW <br> <br>

This Agreement is governed by the laws of Tennessee, and this Agreement is deemed to have been made and entered into in Tennessee.
<br> <br>
SEVERABILITY <br> <br>

If any provision of this Agreement is held to be invalid or unenforceable, the remainder of this Agreement shall remain in full force and effect.  To the extent any express or implied restrictions are not permitted by applicable law, these express or implied restrictions shall remain in force and effect to the maximum extent permitted by such law.
<br> <br>
TERMINATION <br> <br>

This Agreement shall remain in effect until terminated by Dichotics, Inc. OR Licensee.  Dichotics, Inc. may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.
<br> <br>
This Agreement will terminate immediately, without prior notice from Dichotics, Inc., in the event that Licensee fails to comply with any provision of this Agreement. Licensee may terminate this Agreement by deleting Audia Dichotics and all copies thereof from all of Licensee’s computer systems.
<br> <br>
Upon termination of this Agreement, Licensee shall cease all use of Audia Dichotics and delete all copies of Audia Dichotics from all of Licensee’s computer systems.
<br> <br>
Termination of this Agreement will not limit any of Dichotics, Inc.’s rights or remedies at law or in equity in case of breach by Licensee of this Agreement or any obligations under this Agreement.
<br> <br>
COMPLETE AGREEMENT <br> <br>

This Agreement is the entire agreement between Dichotics, Inc. and Licensee and supersedes all prior and contemporaneous agreements, proposals or representations, written or oral, concerning its subject matter. 
<br> <br>
Licensee agrees that Dichotics, Inc. has not made any representation or warranty of any kind, express or implied: as to the operation or availability of Audia Dichotics, or the information, content, and materials or Audia Dichotics included thereon; or  that the Audia Dichotics will be uninterrupted or error-free; or that Audia Dichotics is free of viruses, scripts, trojan horses, worms, malware, timebombs or other harmful components.
<br> <br>
Dichotics, Inc. reserves the right to modify any of the terms of this Agreement at any time, by informing Licensee of such modifications. 
<br> <br>
Licensee’s continued use of Audia Dichotics will signify acceptance of the revised terms. If Licensee does not wish to be bound by the changes, Licensee must stop using Audia Dichotics and terminate the agreement.
<br> <br>
ARBITRATION <br> <br>

Any controversy or claim arising out of or relating to this Agreement, or the alleged breach thereof, shall be settled by arbitration before a single arbitrator, administered by the American Arbitration Association in accordance with its Commercial Arbitration Rules, and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof.  The costs of arbitration, including the arbitrator’s fee and expenses shall be paid equally by both parties.

</p>